{{#each ideas }}
<div class="card card-body mb-2">

    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a class=" mb-2 btn btn-block btn-dark" href="/ideas/edit/{{id}}">Edit</a>

    <form method="POST" action="/ideas/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-block btn-danger" type="submit">Delete resource</button>
    </form>
</div>
{{else}}
<div>Нет данных для отображения</div>
{{/each }}